<h1> Welcome to Iron Glory!</h1>

<p>
  We want to be the first to thank you for allowing us to take care of your vintage patch purchasing needs. We sincerely hope you'll enjoy your stay here. And above all else, we hope you'll "stick with us."
</p>

<p>
  You can get started shopping and collecting right away by visiting us at <%= link_to "Iron Glory", root_url %>.
</p>

<p>Sincerely,</p>
<p>The Staff</p>
<p>Iron Glory</p>
