* {
    box-sizing: border-box;
}
img {
    width: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}


/*start header with nav*/
.headerHome {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: 0% 100%;
}

.headerSub {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-position: 0% 0%;
    /*background-position: 0% 40%;*/
    /*QQGABE: I like position at 40%, too. . . it's in the sunnier part of the sky. But I see the value of the more consistent blue-gray, also. */
}

.logoImage {
    /*max-width: 400px; */
    width: 31vw; 
    min-width: 200px;
    height: initial;
    max-height: none !important;
    padding-left: 40px; 
}

nav  {
    background: none !important;
    padding-top: 30px; 
}

a.nav-item {
    color: #545454;
    font-family: 'Raleway', sans-serif;
    font-size: 15px; 
    margin-right: 60px; 
}

.searchIcon {
    margin-left: 5px; 
    color: #424242;
    font-family: 'Raleway', sans-serif;
}

.cartIcon {
    color: #424242;
    font-family: 'Raleway', sans-serif;
    font-size: 30px; 
}


/*sectionHeaders -- pink titles with HR on either side*/
.sectionHeaders {
    padding-top: 100px;
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #FD41A0;
}

.sectionHeaders {
    overflow: hidden;
    text-align: center;
}
.sectionHeaders:before,
.sectionHeaders:after {
    background-color: #797979;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 10%;
}
.sectionHeaders:before {
    right: 1.5em;
}
.sectionHeaders:after {
    left: 1.5em;
}
/*end sectionHeaders*/


/*start feature card*/
.featureCard {
    margin-top: 100px; 
    padding-bottom: 50px; 
}

.featureImgCol {
    border: 1px solid #BEBEBE;
    background-color: white;
}

.featureContent {
    border: 1px solid #BEBEBE;
    background-color: rgba(255,255,255,0.5);
    padding-top: 20px; 
    padding-right: 40px; 
    padding-left: 40px; 
    padding-bottom: 40px; 
    color: #545454;
    font-family: 'Raleway', sans-serif;
}

.featureTitle {
    padding-top: 20px;
    padding-bottom: 20px; 
    text-align: center;
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
}

.featureDescription {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
}

.featurePrice {
        text-align: center;
        font-size: 28px; 
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        padding-top: 30px;
}


/*start categories section*/
.categorySection {
    padding-top: 70px;
    padding-bottom: 100px;
}

.categories {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.catLink:hover {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

/*Start footer*/
footer {
    padding-bottom: 40px;
    color: #FD41A0;
    font-size: 50px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

footer a {
    color: #FD41A0;
    font-family: 'Raleway', sans-serif;
    /*font-size: 50px;*/
}

footer a:hover {
    color: #FD41A0;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.footer {
    background-color: white;
}

/*start product Build*/
.productImgBuild {
    border: 1px solid #BEBEBE;
    background-color: white;
}

.productTitleBuild {
    font-family: 'Raleway', sans-serif;
    color: #545454;
    font-size: 20px;
}

.productPriceBuild {
    font-family: 'Raleway', sans-serif;
    color: #545454;
    font-size: 15px; 
}


/*start products*/
input {
    font-family: 'Raleway', sans-serif;
}

button {
    font-family: 'Raleway', sans-serif;
}

.categoryTitlesProductsPage {
    font-family: 'Raleway', sans-serif;
}
